<body>
  <section class="bg-cover">
    <div class="ui segment inverted" style="opacity: 1; top: 70px; width: 600px; margin: 0 auto; background: rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
      <h1 class="ui header massive" style="font-size: 30pt;"><i>PlayUp.</i></h1>
      <span class="ui white-text" style="font-size: 14pt;"><i>Join an existing game or create a new one</i></span>
    </div>
    <div class="ui segment" style="opacity: 1; top: 120px; width: 600px; margin: 0 auto; background: rgba(255,255,255,1); border: 1px solid rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
        <div class="ui form">
            <h2>Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="two fields">
                <div class="field">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, required: true %>
                </div>
                <div class="field">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, required: true %>
                </div>
              </div>


              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, required: true, unique: true %>
              </div>

              <div class="two fields">
                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em class="third-white-text"> &nbsp; (<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", required: true %>
                </div>
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
                </div>
              </div>

              <br />
              <div class="actions">
                <%= f.submit "Sign up", class: "ui button teal" %>
                <%= render "devise/shared/links" %>
              </div>

          <% end %>
          <br />
        </div>
    </div>
  </section>
</body>
