<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @game.venue %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.type %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @game.max_participants %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
