<html>
<head>
  <meta charset="utf-8">
  <title>Pickup</title>
  <meta name="description" content="Pickup">
  <meta name="viewport" content="width=1000px, initial-scale=0.4, maximum-scale=1, minimum-scale=0.4">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <br /><br /><br />
  <div class="container limited">
  <h1>Games</h1>
  <a href="ui button">Button</a>

    <div class="ui text stackable menu">
          <div class="ui basic <% if !params[:sort].blank? %> blue <% else %>  <% end %> button simple dropdown right floated">
            <div class="text">Sort By<i class="dropdown icon"></i></div><br />
            <div class="menu">
              <%= link_to 'Price: Low', request.parameters.merge({:sort => 'price_lth'}), class:
              if params['sort'] == 'price_lth' then
                'active item'
              else
                'item'
              end %>

            </div>
          </div>
          &nbsp;


          <div class="ui basic <% if !params[:low_price].blank? || !params[:high_price].blank? %> blue <% else %> <% end %> button simple dropdown left floated">
            <div class="text"><i class="money icon"></i>
              <% if !params[:low_price].blank? && !params[:high_price].blank? %>
                $<%= params[:low_price] %> - $<%= params[:high_price] %>
              <% elsif !params[:low_price].blank? && params[:high_price].blank? %>
                Above $<%= params[:low_price] %>
              <% elsif !params[:high_price].blank? && params[:low_price].blank? %>
                Below $<%= params[:high_price] %>
              <% else %>
                Price
              <% end %>

            <i class="dropdown icon"></i></div><br />
            <div class="menu">
              <%= link_to '$60 to $80', request.parameters.merge({:low_price => '60', :high_price => '80'}), class:'item' %>
              <%= link_to request.parameters.merge({:low_price => '', :high_price => ''}), class:'item' do %>
                <i class="icon delete"></i>Clear
              <% end %>
            </div>
          </div>


        <div class="right menu">
          <div class="item">
            <%= link_to request.parameters.merge({:list_type => 'list'}), class:'item' do %>
              <i class="icon list layout large <% if params[:list_type] != "list" %>grey<% else %> black<% end %>"></i>
            <% end %>
            <%= link_to request.parameters.merge({:list_type => 'card'}), class:'item' do %>
              <i class="icon block layout large <% if params[:list_type] != "card" %>grey<% else %> black<% end %>"></i>
            <% end %>
          </div>
          <div class="item">
            <div class="ui icon input">
              <form>
                <input type="text" name="query" placeholder="Search"></input>
                <input type="text" name="low_price" value="<%= params[:low_price] %>" hidden="true"></input>
                <input type="text" name="high_price" value="<%= params[:high_price] %>" hidden="true"></input>
                <input type="text" name="sort" value="<%= params[:sort] %>" hidden="true"></input>
                <input type="text" name="category" value="<%= params[:category] %>" hidden="true"></input>
                <i class="icon search"></i>
                <input type="submit" hidden="true">
              </form>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <center><%= link_to 'New Game', new_game_path, class: "ui button green" %></center>
      <br /><br />

      <!-- Cards -->
        <div class="ui four stackable link cards">
          <% @games.each do |game| %>
            <!-- One card per game -->
            <%= link_to game do %>
              <div class="ui card">
                <!-- Content -->
                <div class="image-bg-<%=(game.id.to_i%7).to_s%>" style="padding: 20px; background: rgba(20, 30, 70, 1)">
                    <center><img src="<%= game.get_white_icon %>" width="100px"/></center>
                </div>
                <div class="content">
                  <div class="header">
                      <%= game.title %>
                  </div>
                  <div class="meta">
                    <%= game.game_type %>
                  </div>
                  <div class="description">
                    Hello, this is Shiv
                  </div>
                </div>

                <!-- Extra Content -->
                <div class="extra content inverted" style="background:white">
                  <span class="right floated">
                    <% if !game.updated_at.blank? %>
                      <%= game.updated_at.strftime("%d %B %Y") %>
                    <% end %>
                  </span>
                  <span class="color: #66CC00">
                    <div class="ui button green mini">
                      <i class="pin icon"></i>
                      <% if !game.venue.blank? %>
                        <%= game.venue %>
                      <% end %>
                    </div>
                  </span>
                </div>

                <!-- Extra Content -->
                <% if !game.max_participants.blank? %>
                  <div class="extra content">
                    <span>
                        <i class="users icon"></i>
                          <span>1/<%= game.max_participants %> Participants</span>
                    </span>
                  </div>
                <% end %>

              </div>

            <!-- End Loop-->
            <% end %>

          <% end %>
        </div>
    </div>

  </div>


  <br>
</body>
</html>
