<head>
  <meta charset="utf-8">
  <title>Show Game</title>
  <meta name="description" content="Pickup">
  <meta name="viewport" content="width=1000px, initial-scale=0.4, maximum-scale=1, minimum-scale=0.4">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="image-bg-<%=(@game.id.to_i%7).to_s%>" style="padding: 20px; padding-bottom: none; margin: 0 auto; background: rgba(20, 30, 50, 1);">
      <center><img src="<%= @game.get_white_icon %>" width="100px"/></center><br><br>

      <center>
      <div class="content ui buttons">

        <% if person_signed_in? %>
          <% in_game = false %>
          <% @game.people.each do |person| %>
            <% if person.email == current_person.email %>
              <% in_game = true %>
            <% end %>
          <% end %>
        <% end %>

        <button class="ui blue button">
          <i class="arrow left icon"></i>
          <%= link_to 'back', games_path, class: 'white-text' %></button>
        <div class="or" data-text=""></div>
        <% if !in_game %>
          <%= link_to add_person_game_path(@game.id, personid: current_person.id), method: :post, class: 'ui button orange mini' do %>
              <i class="add icon"></i> join
          <% end %>
        <% else %>
          <%= link_to remove_person_game_path(@game.id, personid: current_person.id), method: :post, class: 'ui button red mini' do %>
              <i class="remove icon"></i> leave
          <% end %>
        <% end %>
        <div class="or" data-text=""></div>
        <button class="ui teal button">
          <i class="write icon"></i>
          <%= link_to 'edit', edit_game_path(@game), class: 'white-text' %></button>
      </div>
    </center>
  </div>

<section class="bg-cover" style="height: 200%; padding: none; margin: 0 auto">
  <div class="ui segment inverted" style="opacity: 1; top: 70px; width: 600px; margin: 0 auto; background: rgba(0,0,0,0); padding: none;">
    <h1 class="ui header massive" style="font-size: 25pt; text-align: center; padding-top: none"><i><%= @game.title.titleize %></i></h1>
    <h2 style="font-size: 15pt; text-align: center; margin: auto; padding-top:none"> <%= @game.game_type.titleize %> </h2>
  </div>

  <div class="ui card"  style="opacity: 1; top: 120px; width: 600px; margin: 0 auto; background: rgba(255,255,255,1); border: 1px solid rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
    <div class="content" style="display:inline-block;">
      <h3 class="ui horizontal divider header" style="display:inline-block; padding-bottom:5px;">
        <center>
          <i class="calendar icon"></i>
          <%= @game.date.strftime("%A %b %e").titleize %> |
          <%= @game.date.strftime("%l:%M %P") %>
        </center>
      </h3>

      <h5 style="float:right; display:inline-block;"><i class="cloud icon" id="weather-icon"></i>
        <span id="weather"> no forecast yet</span></h5>
    </div>

    <% if !@game.venue.blank? %>
    <div class="content">
      <h4 class="ui horizontal divider header green">
          <i class="marker icon"></i>
          <%= @game.venue.titleize %>
      </h4>
      <center>
        <iframe style="margin:0 auto; background:none; box-shadow:none; width: 100%; height: 100%; border-radius: 5px; padding: 0px; border: none;"
        src="https://www.google.com/maps/embed/v1/place?q=<%=u @game.venue %>
          &zoom=17
          &key=AIzaSyDu9jdCmLG8bGpHEKVviraQ0qPoe1PN0f4">
        </iframe>
      </center>
    </div>
    <% end %>

    <% if !@game.max_participants.blank? %>
    <div class="content">
      <h4 class="ui horizontal divider header">
          <i class="users outline icon"></i>
          <%= @game.get_participants.count %>/<%= @game.max_participants %> playing
      </h4>
        <% @game.get_participants.each do |person| %>
          <a class="ui image label" style="margin: 10px 4px;">
            <i class="user icon"></i>
            <%= person.name %>
          </a>
        <% end %>

    </div>
    <% end %>

    <% if !@game.description.blank? %>
    <div class="content">
      <h4 class="ui horizontal divider header">
          <i class="info circle icon"></i>
          more info
      </h4>
      <span><center> <% @game.description %> </center></span>
    </div>
    <% end %>

    <% if !@game.max_participants.blank? %>
    <div class="content">
      <h4 class="ui horizontal divider header">
          <i class="comment icon"></i>
          2 comments
      </h4>
      <div class="ui feed">
        <div class="event" style="margin: 5px;">
          <div class="ui circular button teal tiny">
            <% if @game.get_participants.count > 0 %>
              <%= @game.get_participants.first.first_name[0] %><%= @game.get_participants.first.last_name[0] %>
            <% else %>
              SS
            <% end %>
          </div> &nbsp; &nbsp; &nbsp;
          <div class="content">
            <% if @game.get_participants.count > 0 %>
              <span class="ui header small"><%= @game.get_participants.first.first_name %></span> &nbsp;
            <% else %>
              <span class="ui header small">Shiv Sakhuja</span> &nbsp;
            <% end %>
              <span class="date">
                1 day ago
              </span>
              <div class="summary" style="font-weight: 300;">
                 I'd be happy to bring some food!
              </div>
          </div>
        </div>

        <div class="event" style="margin: 5px;">
          <div class="ui circular button teal tiny">
            <% if @game.get_participants.count > 0 %>
              <%= @game.get_participants.first.first_name[0] %><%= @game.get_participants.first.last_name[0] %>
            <% else %>
              NA
            <% end %>
          </div> &nbsp; &nbsp; &nbsp;
          <div class="content">
            <% if @game.get_participants.count > 0 %>
              <span class="ui header small"><%= @game.get_participants.first.first_name %></span> &nbsp;
            <% else %>
              <span class="ui header small">Naman Agrawal</span> &nbsp;
            <% end %>
              <span class="date">
                3 days ago
              </span>
              <div class="summary" style="font-weight: 300;">
                 Might be running a little late.
              </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="content">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Leave a comment here...">
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>

  <p id="notice"><%= notice %></p>
</section>
</body>

<%if @game.date.strftime("%-m").to_i == Time.now.strftime("%-m").to_i %>
  <% if @game.date.strftime("%e").to_i <= Time.now.strftime("%e").to_i + 4 %>
    <script>
      var callbackFunction = function(data) {
        var forecasts = data.query.results.channel.item.forecast;
        var diff = 0;
        diff = <%= (@game.date.strftime("%e").to_i) - (Time.now.strftime("%e").to_i) %>;

        <%if @game.date.strftime("%P") == "pm" %>
        document.getElementById("weather").innerHTML = forecasts[diff].text + " / " + forecasts[diff].high + "&deg;";
        <% end %>

        <%if @game.date.strftime("%P") == "am" %>
        document.getElementById("weather").innerHTML = forecasts[diff].text + " / " + forecasts[diff].low + "&deg;";
        <% end %>

        if(forecasts[diff].text.toLowerCase().indexOf("sun") != -1) {
          document.getElementById("weather-icon").className = "sun icon";
        }

        if(forecasts[diff].text.toLowerCase().indexOf("cloud") != -1) {
          document.getElementById("weather-icon").className = "cloud icon";
        }

        if(forecasts[diff].text.toLowerCase().indexOf("rain") != -1) {
          document.getElementById("weather-icon").className = "rain icon";
        }

        if(forecasts[diff].text.toLowerCase().indexOf("storm") != -1) {
          document.getElementById("weather-icon").className = "lightning icon";
        }

        if(forecasts[diff].text.toLowerCase().indexOf("snow") != -1) {
          document.getElementById("weather-icon").className = "bullseye icon";
        }
      };
    </script>
    <script src="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D%0912761358&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=callbackFunction"></script>
  <% end %>
<% end %>
